<h1>Climber Signup</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@climber) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.fields_for :user do |builder| %>
        <%= builder.label :name %>
        <%= builder.text_field :name, class: "form-control" %>
        
        <%= builder.label :email %>
        <%= builder.email_field :email, class: "form-control" %>
        
        <%= builder.label :password %>
        <%= builder.password_field :password, class: "form-control" %>
        
        <%= builder.label :password_confirmation %>
        <%= builder.password_field :password_confirmation, class: "form-control" %>
        
        <% end %>
        <p>
          Are you the owner of a gym?
          <%= link_to "Create your gym profile here", new_gym_path %>
        </p>
      <%= f.submit "Create My Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>