<li id="route-<%= route.id %>">
  <span class="title">
  	<%= link_to "\""+route.name+"\"", gym_route_path(route.gym, route) %> - 
  	<%= route.difficulty %>
  </span>
  <span class="content">
  	<%= route.description %>
  </span>
  <span class="timestamp">
  	Created on <%= route.created_at.strftime("%A %B %d, %Y") %>
  </span>
</li>

