<h1>"<%= @route.name %>"</h1>

<p>Difficulty: <%= @route.difficulty %> <%= @route.color %></p>

<p>Date Route Set: <%= @route.created_at.strftime("%A %B %d, %Y") %></p>

<p>Description of route: <%= @route.description %></p>