<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "ClimbON", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Climbers", climbers_path %></li>
          <li><%= link_to "Gyms", gyms_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%=current_user.name%> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user.profile %></li>
              <% if current_user.profile_type == "Gym" %>
                <li><%= link_to "Settings", edit_gym_path(current_user.profile) %></li>
              <% elsif current_user.profile_type == "Climber" %>
                <li><%= link_to "Settings", edit_climber_path(current_user.profile) %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>